#home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#home .text-area {
  width: 35%;
}

#home .text-area h1 {
  font-weight: 400;
  font-size: 8vw;
  line-height: 6vw;
}

#home .text-area button {
  margin-top: 50px;
  padding: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: medium;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  background-color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#home .text-area button:hover {
  color: black;
  background-color: rgb(240, 240, 240);
  border: 1px solid black;
}

#home .image-area {
  width: 50%;
  /* height: 50%; */
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#home .image-area .img-row {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#home .image-area .img-row._1 {
  justify-content: space-around;
  /* background-color: aquamarine; */
}
#home .image-area .img-row._2 {
  justify-content: center;
}
#home .image-area .img-row._3 {
  /* background-color: aquamarine; */
  justify-content: space-around;
}
#home .image-area .img-row._2 .img-container {
  width: 30vw !important;
}
#home .image-area .img-row._2 .img-container img {
  width: 100%;
  height: auto;
}

#home .image-area .img-container {
  height: 10vw;
  width: 10vw;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: rgb(240, 240, 240);
}

#home .image-area img {
  height: 100%;
  width: auto;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

#home .image-area .img-container:hover img {
  transform: scale(1.1, 1.1);
}

@media screen and (max-width: 900px) {
  @keyframes opaAni {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #home {
    flex-direction: column;
    height: calc(100% - 4rem);
    margin-top: 4rem;
    width: 98vw;
    overflow: hidden;
    overflow-x: hidden;
  }
  .blank-element {
    display: none;
    visibility: hidden;
    width: 0px !important;
  }
  #home .text-area {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #home .text-area h1 {
    font-weight: 400;
    font-size: 10vw;
    line-height: 8vw;
  }

  #home .text-area > a {
    width: auto;
  }

  #home .text-area button {
    margin-top: 20px;
    padding: 9%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: small;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 150px;
  }

  #home .image-area {
    width: 90%;
  }

  #home .image-area .img-row._1 {
    justify-content: space-around;
    /* background-color: aquamarine; */
  }
  #home .image-area .img-row._2 {
    justify-content: center;
    visibility: hidden;
    display: none;
  }
  #home .image-area .img-row._3 {
    /* background-color: aquamarine; */
    justify-content: space-around;
  }

  #home .image-area .img-container {
    height: 25vw;
    width: 25vw;
  }
  #home .image-area img {
    animation: opaAni 1s ease 0s 1 normal forwards;
  }
}
