#mainNav {
  background-color: rgb(240, 240, 240);
  height: 100%;
  width: 6rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  border-right: 1px solid rgba(120, 120, 120, 0.5);
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
#mainNav span {
  transform: rotate(-90deg);
  color: black;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
}
#mainNav span:hover {
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  #mainNav {
    height: 4rem;
    width: 100%;
    flex-direction: row;
    border-right: none;
    border-bottom: 1px solid rgba(120, 120, 120, 0.5);
    align-items: center;
  }
  #mainNav span {
    transform: none;
  }
  #mainNav span:hover {
    font-weight: 600;
  }
}
